@media (max-width: 991px) {
    .promo {
        &__header {
            font-size: 30px;
            }
        &__subheader {
            font-size: 20px;
        }
        &__wrapper {
            align-items: center;
        }
    }
    .title {
        &_left {
            text-align: center;
            font-size: 30px;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 80px;
    }
}

@media (max-width: 650px) {
    .header {
        &__logo {
            width: 180px;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .button {
        width: 130px;
        font-size: 10px;
        &_main {
            width: 300px;
            font-size: 14px;
        }
        &_submit {
            width: 300px;
            font-size: 14px;
        }
    }
    .promo {
        &__link {
            font-size: 14px;
        }
        &__header {
            font-size: 26px;
        }
        &__subheader {
            margin-top: 6px;
            font-size: 16px;
        }
        &__wrapper {
            margin-top: 30px;
        }
        &__icons {
            margin-top: 120px;
        }
    }
    .advantages {
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 40px;
            max-width: 400px;
            &:first-child {
                margin-top: 0px;
            }
        }
        &__descr {
            font-size: 16px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .title {
        &_left {
            font-size: 24px;
        }
    }
    .consultation {
        &__descr {
            font-size: 16px;
            margin-top: 20px;
        }
    }
}

@media (max-width: 525px) {
    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 220px;
        }
    }
    .button {
        margin-top: 10px;
    }
    .title {
        &_left {
            font-size: 18px;
        }
    }
    .consultation {
        &__descr {
            font-size: 14px;
            margin-top: 16px;
        }
    }
}

@media (max-width: 428px) {
    .button {
        &_main {
            margin-top: 80px;
        }
    }
    .promo {
        &__icons {
            width: 310px;
        }

    }
}

@media (max-width: 390px) {
    .header {
        &__phone {
            font-size: 12px;
        }
        &__logo {
            width: 160px;
        }
    }
    .promo {
        padding-bottom: 40px;
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__link {
            font-size: 12px;
        }
        &__icons {
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 40px;
        }

    }
    .button {
        &_main {
            margin-top: 70px;
            width: 260px;
            font-size: 12px;
        }
        &_submit {
            width: 220px;
            font-size: 12px;
        }
    }
    .advantages {
        &__header {
            font-size: 20px;
        }
        &__item {
            max-width: 260px;
        }
    }
    .title {
        &_left {
            font-size: 14px;
        }
    }
    .consultation {
        &__descr {
            font-size: 12px;
            margin-top: 16px;
        }
    }
    .feed-form {
        width: 220px;
        input {
            font-size: 12px;
        }
    }
}